/__pycache__
/annotated_types
/annotated_types-0.5.0.dist-info
/anyio
/anyio-3.7.1.dist-info
/ask_sdk_core
/ask_sdk_core-1.19.0.dist-info
/ask_sdk_model
/ask_sdk_model-1.82.0.dist-info
/ask_sdk_runtime
/ask_sdk_runtime-1.19.0.dist-info
/bin
/boto3
/boto3-1.33.13.dist-info
/botocore
/botocore-1.33.13.dist-info
/certifi
/certifi-2023.11.17.dist-info
/charset_normalizer
/charset_normalizer-3.3.2.dist-info
/dateutil
/distro
/distro-1.8.0.dist-info
/exceptiongroup
/exceptiongroup-1.2.0.dist-info
/h11
/h11-0.14.0.dist-info
/httpcore
/httpcore-0.17.3.dist-info
/httpx
/httpx-0.24.1.dist-info
/idna
/idna-3.6.dist-info
/importlib_metadata
/importlib_metadata-6.7.0.dist-info
/jmespath
/jmespath-1.0.1.dist-info
/openai
/openai-1.5.0.dist-info
/pydantic
/pydantic-2.5.2.dist-info
/pydantic_core
/pydantic_core-2.14.5.dist-info
/python_dateutil-2.8.2.dist-info
/requests
/requests-2.31.0.dist-info
/s3transfer
/s3transfer-0.8.2.dist-info
/six-1.16.0.dist-info
/six.py
/sniffio
/sniffio-1.3.0.dist-info
/tqdm
/tqdm-4.66.1.dist-info
/typing_extensions-4.7.1.dist-info
/typing_extensions.py
/urllib3
/urllib3-2.0.7.dist-info
/zipp
/zipp-3.15.0.dist-info
/deployment_package.zip